* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-size-adjust: 100%;

  /* for sites not workin but on iphones working  -- need to*/
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  /* video container */
  .video-container {
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 0;
  }
  .video-content {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
    display: flex;
  }
  .content-container {
    /* background-color: red; */
    color: white;
    position: absolute;
    z-index: 80;
    width: 100%;
    padding-top: 10em;
    text-align: center;
  }
  .content-container p {
    color: #eca20e;
  }
  .scrool-down-btn {
    position: absolute;
    width: 100%;
    color: white;
    z-index: 80;
    text-align: center;
    bottom: 3em;
  }

  video {
    width: 100%;
    height: 540px;
    object-fit: fill;
  }

  /* main content-container */
  .main-content-container {
    z-index: 80;
    margin-top: 2em;
    width: 100%;
    position: relative;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  }
  .main-content-container .client-about-container {
    max-width: 100%;
    max-width: fit-content;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content-container .client-about-container .client-image-container {
    width: 50%;
  }
  .main-content-container .client-about-container .client-image-container img {
    width: 100%;
  }

  .main-content-container
    .client-about-container
    .client-about-lorem-container {
    margin-left: 0.5em;
    text-align: center;
    width: 48%;
    max-width: 100%;
  }

  /* client-projects-contaier */
  .client-projects-contaier {
    margin-top: 1em;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5em;
  }
  .client-projects-contaier img {
    width: 40%;
    height: 200px;
    padding: 0.3em;
  }
}

@media only screen and (max-width: 480px) {
  /* main content-container */
  .main-content-container .client-about-container .client-image-container {
    width: 100%;
  }

  .main-content-container
    .client-about-container
    .client-about-lorem-container {
    margin-left: 0.5em;
    text-align: center;
    width: 100%;
  }
  /* client-projects-contaier */
  .client-projects-contaier {
    padding: 0;
  }
  .client-projects-contaier img {
    width: 40%;
  }
}
@media only screen and (max-width: 290px) {
  /* client-projects-contaier */
  * {
    overflow-x: hidden;
  }
  .client-projects-contaier img {
    width: 200%;
  }
}

.originalText,
.replacementText {
  width: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s; /* Add a transition for smooth effect */
}

.replacementText {
  opacity: 0;
}

.textWrapper:hover .originalText {
  opacity: 0;
}

.textWrapper:hover .replacementText {
  opacity: 1;
}

/* for the scrool down */
.scroll {
  text-decoration: none;
  color: white;
}
