/* background iamge -need to add */
.image-projects-content {
  /* changes */
  width: 100%;

  overflow-x: hidden;
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  display: flex;
}
.main-content-projects-container h3 {
  padding-top: 0.5em;
}
.main-content-projects-container p {
  width: 100%;
  padding: 1em 2em;
  direction: rtl;
}
.image-projects-content img {
  width: 100%;
  /* do not tutch!! */
  display: block;
  padding-bottom: 5em;
  max-width: 100%;
  height: 80vh;
}
.main-content-projects-container {
  /* chanegs */
  max-width: fit-content;
  padding: 0em 15em;
  margin-top: 7em;

  padding-bottom: 50px;
  /* chanegs */

  z-index: 80;
  margin-top: 0.5em;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  /* padding: 0em; */
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content-projects-container .large-image {
}

.main-content-projects-container .large-image .large {
  width: 100%;
}

.main-content-projects-container img {
  padding: 0.5em 0;
  padding-left: 0.5em;
  width: 30%;
}

@media only screen and (max-width: 1100px) {
  .main-content-projects-container {
    padding: 0em 8em;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .image-projects-content {
    overflow-x: hidden;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
  }
  .main-content-projects-container h3 {
    padding-top: 0.5em;
  }
  .main-content-projects-container p {
    width: 100%;
    padding: 1em 2em;
    direction: rtl;
  }
  .image-projects-content img {
    /* do not tutch!! */
    display: block;
    padding-bottom: 5em;
    max-width: 100%;
    height: 80vh;
  }
  .main-content-projects-container {
    /* chnages  */
    max-width: fit-content;
    padding: 0em;
    margin-top: 0em;
    /* chnages  */

    z-index: 80;
    margin-top: 0.5em;
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 50px;
  }

  .main-content-projects-container .large-image {
  }

  .main-content-projects-container .large-image .large {
    width: 100%;
  }

  .main-content-projects-container img {
    padding: 0.5em 0;
    padding-left: 0.5em;
    width: 30%;
  }
}
