/* background iamge -need to add */
.image-projects-content {
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  overflow: hidden;
  display: flex;
}

.image-projects-content img {
  /* do not tutch!! */
  display: block;
  padding-bottom: 5em;
  max-width: 100%;
  height: 80vh;
}
.main-content-projects-container {
  z-index: 80;
  margin-top: 2em;

  width: 100%;
  position: relative;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

  display: flex;
  flex-direction: row;
  padding: 0em;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content-projects-container img {
  padding: 2em 0;
  padding-left: 0.5em;
  width: 30%;
}
